/*!=========================
      Base grid styles
==========================*/
$footer = 150px
$wrapper = 1170px

html
  position relative
  min-height 100%
body
  font-family 'Open Sans', sans-serif
  font-size 15px
  line-height 1.1
  margin-bottom $footer
  color $black
  background $bg-color
html, body
  &.menu-opened
    overflow hidden
html.menu-opened
    &:after
      content ''
      position fixed
      width 100%
      height 100%
      top 100%
      left 100%
      background $gray
      z-index 999
.container-fluid
  max-width 975px
.main
  padding-bottom $footer
  padding-bottom 0
  background #f1f0f1
.m_footer
  position absolute
  left 0
  bottom 0
  width 100%
  height $footer
.wrapper
  clearfix()
  position relative
  width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
.row
  clearfix()
.vertical-outer
  display table
  width 100%
  height 100%
.vertical-inner
  display table-cell
  vertical-align middle
.col-1-of-2
  float left
  width 50%
.col-1-of-3
  float left
  width 33.333%
.bg-lgray
  background $light-gray !important
.bg-darker-gray
  background #e7e7e8 !important
