@keyframes rotate
  0%
    transform rotate(0deg) scale(1) translate(0, 0)
  50%
    transform rotate(180deg) scale(0.8) translate(-25px, 25px)
  100%
    transform rotate(360deg) scale(1) translate(0, 0)
@keyframes focus
  0%
    transform: translateY(0px)
  25%
    transform: translateY(-10px)
  50%
    transform: translateY(-20px)
  75%
    transform: translateY(-10px)
  100%
    transform translateY(0px)
