// Mobile burger button
.mobile-menu-trigger
  display none
  position absolute
  left 10px
  top 50%
  width 32px
  height 22px
  margin-top -(@height/2)
  z-index 1200
  @media screen and (max-width: 767px)
    display block
  &:after,
  &:before,
  span
    anim()
    content ''
    position absolute
    left 0
    width 100%
    height 3px
    background #606060
  &:before
    top 0
  &:after
    bottom 0
  span
    top 50%
    margin-top -1.5px
  &.open
    &:after,
    &:before,
    span
      background $white
    span
      opacity 0
      transform translateX(-5px)
    &:after
      transform: rotate(135deg) translate(-7px, 7px)
    &:before
      transform: rotate(-135deg) translate(-6px, -6px)