#form.animated
  animation focus .5s linear 1
  animation-delay .4s
#form
  padding-top 25px
  padding-bottom 50px
.m_lead-hook-form
  clearfix()
  border 2px solid $green
  padding 20px
  input, select
    width 100%
    min-width 0 !important
    anim()
    &:focus
      border-color $black
  .column
    float left
    width 23%
    padding-left 10px
    padding-right 10px
    &.select
      width 30%
.form-header
  clearfix()
  .form-tab-trigger,
  .column
    float left
    width 50%
  .column
    width 25%
    float right
  .form-tab-trigger
    line-height 34px
    height 34px
    text-align left
    padding-left 10px
    margin-bottom 20px
    a
      display inline-block
      vertical-align middle
      padding-left 15px
      padding-right 15px
      color #676766
      &.current
        color #fff
        background $green
.form-tab-1,
.form-tab-2
  clearfix()
  .column
    width 25%

.hgroup
  float left
  width 100%
  padding-left 10px
  padding-right 20px
  margin-bottom 20px
  textarea
    width 100%
    min-height 100px
    max-height 200px
    border 2px solid $green
    padding 5px 10px
    &:focus
      border-color $black