.m_headling
  position relative
  text-align center
  width 100%
  height auto
  color $black
  font-size 19px
  line-height 1
  padding 20px 0
  margin-bottom 25px
  font-weight bold
  br.company-break
    display none
    @media screen and (max-width: 568px)
      display block
  &:after
    content ''
    position absolute
    width 50px
    height 1px
    bottom 0
    left 50%
    margin-left -(@width/2)
    border-bottom 1px solid $black
  &:before
    content ''
    position absolute
    width 16px
    height 1px
    bottom -5px
    left 50%
    margin-left -(@width/2)
    border-bottom 1px solid $black