.m_approach
  position relative
  background $white
  padding-bottom 30px
  overflow hidden
  z-index 20
  @media screen and (max-width: 420px)
    padding-bottom 15px
  .title h2
    position relative
    color $green
    font-weight bold
    font-size 16px
    line-height 1
    padding-top 25px
    padding-bottom 10px
    margin-bottom 15px
    @media screen and (max-width: 767px) and (min-width: 621px)
      font-size 18px
    @media screen and (max-width: 620px)
      padding-top 15px
      margin-bottom 5px
    @media screen and (max-width: 420px)
      padding-top 10px
      padding-bottom 5px
    &:after
      content ''
      position absolute
      left 0
      bottom 0
      width 50px
      height 2px
      border-bottom 2px solid $green
  .text
    color $black
    font-size 16px
    @media screen and (max-width: 767px) and (min-width: 621px)
      font-size 18px
    .lead-text
      padding 5px 0
      @media screen and (max-width: 420px)
        font-size 14px
    .secondary-text
      padding 5px 0
      @media screen and (max-width: 767px)
        display none


