.m_articles
  position relative
  padding-top 15px
  margin-top -5px
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15)
  @media screen and (max-width: 768px)
    padding-bottom 15px
  &.similar
    margin-top 0
    padding-top 0
    @media screen and (max-width: 768px)
      padding-top 30px
    .small
      background none
      .headling
        font-weight bold
        font-size 16px
        margin-bottom 20px
  &:before
    earth()
  .small,
  .semi-full
    background $white
    @media screen and (max-width: 768px)
      background none
  .large
    box-shadow inset 0 -5px 5px -5px rgba(0,0,0,0.15)
  .large,
  .full,
  .semi-full,
  .small
    position relative
    overflow hidden
    padding 30px 0
    @media screen and (max-width: 768px)
      padding 0
  .item
    position relative
    box-shadow 0 0 2px 1px rgba(0,0,0,.15)
    @media screen and (max-width: 768px)
      margin-bottom 30px
    &:hover
      .image a
        box-shadow: inset 0px -170px 170px -90px rgba(49,42,32,1);
    .image
      width 100%
      height 220px
      a
        anim()
        display block
        height 100%
        width 100%
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        box-shadow: inset 0px -150px 150px -70px rgba(49,42,32,0.75)
    .description
      position absolute
      width 100%
      bottom 0
      left 0
      padding 0 10px
      .title
        color $white
        font-weight bold
        font-size 14px
        line-height 1
        a
          color #fff
          text-decoration none
          &:hover
            text-decoration underline
      p
        color $white
        font-size 12px
        text-align left
        padding 7.5px 0
        margin 0
        cursor default
      .bottom
        clearfix()
        padding 10px 0
        .date
          float left
          color #fff
          font-size 12px
          cursor default
        .details
          float right
          a
            color #fff
            font-size 14px
            line-height 1
            font-style italic
            text-decoration underline
            &:hover
              text-decoration none
  .full
    box-shadow inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15)
    @media screen and (max-width: 768px)
      box-shadow none
    .item
      .description
        position static
        background $white
        padding 15px 10px 0 10px
        p,
        .date,
        .details a,
        .title a
          color $black
