.m_clients
  background $light-gray
  padding-top 15px
  padding-bottom 35px
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,.15), inset 0 -5px 5px -5px rgba(0,0,0,.15)
  .partners
    width 100%
    padding-bottom 60px
    &:last-child
      padding-bottom 0
    @media screen and (max-width: 568px)
      padding-bottom 40px
    .col-xs-4,
    .col-xs-8
      @media screen and (max-width: 420px)
        width 100%
    .image
      width 100%
      height 135px
      @media screen and (max-width: 767px)
        height 90px
      @media screen and (max-width: 420px)
        margin 0 auto
        text-align center
        margin-bottom 15px
      a
        display block
        width 100%
        height 100%
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        @media screen and (max-width: 568px)
          background-size contain
    .item
      width 100%
      .title
        color $black
        font-size 19px
        padding-bottom 5px
        @media screen and (max-width: 568px)
          font-size 16px
        @media screen and (max-width: 420px)
          text-align center
      .description
        color $gray
        font-size 14px
        line-height 1.2
        padding-top 10px
        padding-bottom 40px
        @media screen and (max-width: 568px)
          padding 10px 0
      .name
        position relative
        color $black
        font-size 14px
        &:before
          content ''
          position absolute
          width 50px
          height 2px
          top -15px
          left 0
          border-bottom 2px solid $green
          @media screen and (max-width: 568px)
            top -5px