.m_cooperation_head
  position relative
  background $white
  overflow hidden
  .m_headling
    margin 0
    padding 55px 0
    &:after,
    &:before
      display none
.m_cooperation
  position relative
  box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15);
  @media screen and (max-width: 768px)
    padding-left 15px
    padding-right 15px
  &:after
    content ''
    position absolute
    top 0
    right 0
    width 50%
    height 100%
    background #e7e7e8
    z-index auto
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15);
    @media screen and (max-width: 768px)
      display none
  .col-sm-6
    &:first-child
      .item
        padding-right 20px
        border-right 1px solid #fff
        @media screen and (max-width: 768px)
          padding-right 0
          padding-left 0
          border none
    &:last-child
      .item
        padding-left 20px
        border-left 1px solid #fff
        @media screen and (max-width: 768px)
          padding-right 0
          padding-left 0
          border none
  .item
    position relative
    z-index 10
    text-align left
    .title
      display inline-block
      color $black
      text-align center
      vertical-align middle
      width 100%
      height 54px
      font-size 18px
      line-height 22px
      border 2px solid $green
      margin-top 40px
      margin-bottom 15px
      @media screen and (max-width: 420px)
        font-size 16px
        margin-top 20px
        margin-bottom 10px
    .list
      color $black
      font-size 18px
      line-height 26px
      padding-top 10px
      padding-bottom 30px
      ol
        padding-left 20px
        list-style-type decimal
        li
          margin-bottom 10px
          &:last-child
            margin-bottom 0
      @media screen and (max-width: 767px) and (min-width: 421px)
        height auto
        line-height 32px
        padding-bottom  30px
      @media screen and (max-width: 620px)
        height auto
        font-size 16px
        line-height 20px
      @media screen and (max-width: 420px)
        font-size 14px
        line-height 18px
  .col-sm-6
    padding-right 0
    padding-left 0


