.m_footer
  height 150px
  background $dark-gray
  .logo
    position static
    left 0
    top 0
    width 235px
    height 75px
    margin-top (@height/2) 
    a
      display block
      width 100%
      height 100%
      background url("../images/logo-white.png") no-repeat 0 0
      background-position 50% 50%
      background-repeat no-repeat
      background-size contain
  .contacts
    text-align center
    line-height 1.1
    .col-xs-6
      @media screen and (max-width: 360px)
        width 100%
    .tel, .locate
      position relative 
      height 150px
      color $white
      @media screen and (max-width: 360px)
        height 75px
      .vertical-inner
        padding-top 80px
        vertical-align top
        @media screen and (max-width: 360px)
          padding 0
          vertical-align middle
    .locate
      font-size 14px
      &:before
        content ''
        position absolute
        left 50%
        top 35px
        background url('../images/sprite.png') no-repeat -1px -45px
        width 28px
        height 28px
        margin-left -(@width/2)
        @media screen and (max-width: 360px)
          display none
    .tel
      font-weight bold
      font-size 18px
      &:before
        content ''
        position absolute
        left 50%
        top 35px
        background url('../images/sprite.png') no-repeat -37px -45px
        width 28px
        height 28px
        margin-left -(@width/2)
        @media screen and (max-width: 360px)
          display none
      p
        margin 0
        