.m_header
  height 125px
  background $white
  box-shadow 0 0 3px rgba(0,0,0,.25)
  margin-bottom 5px
  @media screen and (max-width: 767px)
    height 90px
  .logo
    position: absolute;
    left 15px
    top: 50%;
    width: 234px;
    height: 75px;
    margin-top -(@height/2)
    @media screen and (max-width: 767px)
      position static
      display block
      margin-right auto
      margin-left auto
      margin-top 0
      height 90px
    @media screen and (max-width: 360px)
      width 180px
    a
      display block
      width 100%
      height 100%
      background url("../images/logo-black.png") no-repeat 50% 50%
      background-size contain
  .contacts
    position: absolute;
    text-align right
    width: 150px;
    height: 100%;
    right: 15px;
    top: 0;
    line-height: 1.2;
    .locate
      color $gray
    .tels
      font-size 18px
      font-weight bold
      color #65b7af
      span:last-child
        color $black
  .menu
    height: 125px;
    padding-left: 245px;
    padding-right: 150px;
    li
      vertical-align middle
      a
        display block
        text-align center
        padding-right 5px
        padding-left 5px
        font-size 11px
        color $gray
        &:hover
          color $green
        &.current
          text-decoration underline
          color $green

