.m_intro
  background $light-gray
  padding-top 35px
  margin-top -5px
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,.15), inset 0 -5px 5px -5px rgba(0,0,0,.15)
  @media screen and (max-width: 767px)
    padding-top 20px
    padding-bottom 20px
    // background $white
  @media screen and (max-width: 420px)
    padding-bottom 10px
  .reason
    position relative
    height 100%
    color $gray
    padding-left 55px
    padding-right 10px
    padding-bottom 40px
    @media screen and (max-width: 767px)
      padding-bottom 30px
    @media screen and (max-width: 360px)
      padding-right 0
      padding-left 0
    @media screen and (max-width: 420px)
      padding-bottom 30px
    .title
      height 32px
      font-size 14px
      margin-bottom 10px
      color $black
      overflow hidden
      @media screen and (max-width: 916px)
        margin-bottom 19px
      @media screen and (max-width: 767px)
        height auto
        font-size 19px
        margin-bottom 10px

      &.title:before
        content ''
        position absolute
        left 0
        top 0
        @media screen and (max-width: 360px)
          display none
      &.icon-1:before
        background url("../images/sprite.png") no-repeat  0 0
        width 31px
        height 31px
      &.icon-2:before
        background url("../images/sprite.png") no-repeat  -36px 0
        width 41px
        height 30px
      &.icon-3:before
        background url("../images/sprite.png") no-repeat  -83px -4px
        width 35px
        height 27px
    .description
      height 112px
      overflow hidden
      @media screen and (max-width: 960px)
        height auto
      p
        font-size 12px
        line-height 14px
        margin 0 0 14px 0
        @media screen and (max-width: 767px)
          height auto
          font-size 14px
          margin 0
          padding 5px 0
        @media screen and (max-width: 568px)
          margin-bottom 10px
    a
      anim()
      display block
      text-align center
      width 95px
      height 25px
      line-height 21px
      border 2px solid $green
      margin-top 25px
      font-size 11px
      color $black
      margin-top 20px
      @media screen and (max-width: 767px)
        margin-top 10px
        font-size 14px
        width auto
        display inline-block
        vertical-align middle
        padding 0 20px
      &:hover
        background $green
        color $white
        text-decoration none

