.m_methods
  position relative
  background $light-gray
  padding-bottom 30px
  overflow hidden
  margin-top -5px
  padding-top 15px
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15)
  @media screen and (max-width: 420px)
    padding-bottom 15px
  &:before
    earth()
  .col-sm-6,
  .col-xs-6,
  .col-xs-12
    padding-right 7.5px
    padding-left 7.5px
  .m_headling
    color $green
  .methods
    width 100%
    height 100%
    .image
      position relative
      height 250px
      overflow hidden
      @media screen and (max-width: 767px)
        height 250px
      @media screen and (max-width: 420px)
        height 200px
      a
        display block
        height 100%
        width 100%
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
      .secondary
        position absolute
        color $white
        left 15px
        bottom 15px
        font-size 12px
    .text
      color $black
      font-size 16px
      line-height 19px
      padding-right 10px
      .title
        font-weight bold
      p
        margin 10px 0