.m_mobile-menu
  position fixed
  z-index 1000
  width 100%
  height 100%
  background $gray
  transform translateX(-100%)
  transition transform .25s ease-in
  &.open
    transform translateX(0%)    
    transition transform .25s ease-out
  ul
    padding-left 110px
    padding-top 60px
    @media screen and (max-width: 568px)
      padding-left 10px
      padding-top 75px
    li
      opacity 0
      transform translateX(-100%)
      &.flip
        transition transform .25s ease-in, opacity .5s ease-in
        opacity 1
        transform translateX(0px)
    a
      display block
      color $white
      font-size 30px
      line-height 1
      padding 10px 0
      @media screen and (max-width: 568px)
        font-size 24px
  .contacts
    position absolute
    text-align center
    vertical-align top
    width 100%
    height 200px
    bottom 0
    left 0
    background #61646b
    padding-top 30px
    @media screen and (max-height: 550px)
      display none
    @media screen and (max-width: 420px)
      padding 0
      height auto
    .tels, .locate
      position relative
      display inline-block
      vertical-align top
      height 45%
      width 45%
      color $white
      padding-top 70px
      @media screen and (max-width: 420px)
        width 100%
        height auto
        display block
        padding-top 0
        margin 15px 0
    .locate
      font-size 24px
      @media screen and (max-width: 568px)
        font-size 18px
      &:before
        content ''
        position absolute
        left 50%
        top 0
        background: url('../images/sprite.png') no-repeat -164px 0;
        width: 51px;
        height: 51px;
        margin-left -(@width/2)
        @media screen and (max-width: 420px)
          display none
    .tels
      font-weight bold
      font-size 30px
      @media screen and (max-width: 568px)
        font-size 24px
      &:before
        content ''
        position absolute
        left 50%
        top 0
        background: url('../images/sprite.png') no-repeat -226px 0;
        width: 51px;
        height: 51px;
        margin-left -(@width/2)
        @media screen and (max-width: 420px)
          display none
      p
        margin 0