.m_property
  position relative
  width 100%
  height auto
  background $light-gray
  overflow hidden
  padding-top 15px
  margin-top -5px
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,.15), inset 0 -5px 5px -5px rgba(0,0,0,.15)
  @media screen and (max-width: 768px)
    padding-bottom 30px
  &:before
    earth()
  .m_headling
    font-weight bold
  .text
    color $black
    text-align center
    font-size 17px
    line-height 23px
    @media screen and (max-width: 767px)
      margin-bottom 10px
    @media screen and (max-width: 420px)
      font-size 16px
    span
      font-weight bold
    .main-text
      padding-bottom 15px
      @media screen and (max-width: 420px)
        padding-bottom 0
    .secondary
      padding 30px 0
      padding 10px 0
      @media screen and (max-width: 767px)
        padding-top 10px
        padding-bottom 0
      @media screen and (max-width: 420px)
        display none
  .links
    text-align center
    margin-top 20px
    margin-bottom 35px
    a
      display inline-block
      anim()
      color $black
      font-weight bold
      min-width 200px
      height 30px
      padding 0 20px
      margin 0 5px
      font-size 14px
      line-height 26px
      background $light-gray
      border 2px solid $green
      text-decoration none
      &:hover
        color $white
        background $green
