.m_questions
  position relative
  background $white
  padding-bottom 15px
  .text
    padding-bottom 30px
    @media screen and (max-width: 768px)
      padding-bottom 15px
    .title
      color $green
      font-weight normal
      font-style italic
      font-size 19px
      line-height 26px
      @media screen and (max-width: 768px)
        font-size 16px
        line-height 20px
    .answer
      color $black
      font-size 18px
      line-height 23px
      padding 15px 0
      @media screen and (max-width: 768px)
        font-size 14px
        line-height 20px
        padding 10px 0
      @media screen and (max-width: 420px)
        line-height 1.1