.m_reasons
  background $white
  padding-top 15px
  padding-bottom 35px
  .container-fluid
    @media screen and (max-width: 767px)
      padding-left 0
      padding-right 0
      .row
        margin-left 0
        margin-right 0
    .list .row
      .col-xs-4,
      .col-sm-4
        @media screen and (max-width: 767px)
          padding-right 0
          padding-left 0
  .list
    width 100%
    .col-xs-4
      @media screen and (max-width: 767px) and (min-width: 420px)
        &:first-child .reason
          padding-left 0
          padding-right 10px
        &:last-child .reason
          padding-right 0
          padding-left 10px
      @media screen and (max-width: 568px)
        width 100%
    .reason
      position relative
      @media screen and (min-width: 768px)
        box-shadow 0 0 2px 1px rgba(0,0,0,.15)
      @media screen and (max-width: 767px)
        padding-left 5px
        padding-right 5px
      @media screen and (max-width: 568px)
        padding-left 0 !important
        padding-right 0 !important
        margin-bottom 20px
      @media screen and (max-width: 420px)
        margin-bottom 10px
      .image
        width 100%
        height 170px
        @media screen and (max-width: 767px)
          height 120px
        @media screen and (max-width: 420px)
          height 90px
        a
          display block
          width 100%
          height 100%
          background-position 50% 50%
          background-repeat no-repeat
          background-size cover
      .title
        width 100%
        height 85px
        background $green
        text-align center
        anim()
        @media screen and (max-width: 767px)
          height 60px
        @media screen and (max-width: 420px)
          height 40px
        &:hover
          background $light-gray
          a
            color $black
        a
          display inline-block
          font-size 16px
          line-height 18px
          color $white
          padding 15px 10px
          word-break break-word
          text-decoration none
          anim()
          @media screen and (max-width: 960px) and (min-width: 767px)
            font-size 14px
            padding-left 5px
            padding-right 5px
            .hidden-medium
              display none
          @media screen and (max-width: 767px)
            font-size 14px
            padding 5px 5px
            .hidden-medium
              display none
  .description
    color $gray
    width 100%
    text-align center
    font-size 15px
    line-height 22px
    border 2px solid $green
    padding 20px 15px
    margin-top 20px





