.m_requests
  position relative
  background $white
  padding-bottom 25px
  .row
    margin 0
  .col-xs-6,
  .col-sm-3,
  .col-sm-4,
  .col-sm-2,
  .col-xs-12,
  .col-sm-12
    padding 0
    margin 0
    text-align center
  .width-fixed
    padding-right 0
    padding-left 0
    padding 25px 20px
    border 2px solid $green
    @media screen and (max-width: 890px)
      padding 25px 0
  .requests
    clearfix()
    border 2px solid $green
    padding 20px
  input, select
    color $gray
    display block
    border 2px solid $green
    background $white
    height 34px
    min-width 200px
    margin 0 auto
    padding 0 10px
    font-size 14px
    &:hover
      color $black
    @media screen and (max-width: 960px)
      min-width auto
    @media screen and (max-width: 800px)
      padding-right 0
  select
    @media screen and (max-width: 890px)
      width 200px
    @media screen and (max-width: 800px)
      width 100%
  input.submit
    color $white
    background $green
    padding 0 10px
    &:hover
      background rgba(112,187,173,.8)
      border rgba(112,187,173,.8)
  .nest
    position relative
    width 875px
    height 100%
    // margin-right 50px
    // margin-left 20px
    margin 0 auto
    label
      position absolute
      left 5px
      top 5px
      color $gray
      font-size 14px
      line-height 1.2
    input.textarea
      display inline-block
      // min-width 875px
      width 100%
      // min-width auto
      text-align left
      height auto
      min-height 100px
      vertical-align top
      font-size 14px
      line-height 1.2
      padding 20px
      margin auto
      // margin 0 auto