.m_services_list
  position relative
  background $white
  overflow hidden
  padding-bottom 30px
  article.list
    background-position 0% 50%
    background-repeat no-repeat
    padding 30px 5px 0 315px
    .text
      position relative
      color $gray
      font-size 17px
      line-height 21px
      padding-bottom 60px
      @media screen and (max-width: 920px)
        padding-bottom 30px
      &:before
        content ''
        position absolute
        width 34px
        height 34px
        left -45px
        top 0
        border 2px solid $green
        border-radius 50%
      &:after
          content ''
          position absolute
          text-align center
          vertical-align middle
          color $green
          font-weight bold
          width 34px
          height 34px
          font-size 27px
          line-height 30px
          left -45px
          top 0
      &.item-1:after
        content '1'
      &.item-2:after
        content '2'
      &.item-3
        padding-bottom 0
        &:after
          content '3'


