.m_services_reports
  position relative
  width 100%
  height auto
  padding-bottom 50px
  padding-top 25px
  overflow hidden
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15)
  .steps
    .step
      position relative
      vertical-align middle
      text-align center
      color $gray
      font-size 14px
      margin-top 25px
      @media screen and (max-width: 920px)
        font-size 16px
      &:before
        content ''
        position absolute
        left 0
        top 50%
      &.step-1:before
        background: url('../images/sprite.png') no-repeat -2px -98px
        width 37px
        height 35px
        margin-top -(@height/2)
      &.step-2:before
        background: url('../images/sprite.png') no-repeat -46px -98px
        width 40px
        height 36px
        margin-top -(@height/2)
      &.step-3:before
        background: url('../images/sprite.png') no-repeat -102px -98px
        width 39px
        height 39px
        margin-top -(@height/2)
        @media screen and (max-width: 820px)
          left -10px
      &.step-4:before
        background: url('../images/sprite.png') no-repeat -164px -98px
        width 34px
        height 45px
        margin-top -(@height/2)
      &:after
        content ''
        position absolute
        right 0
        top 50%
        background: url('../images/sprite.png') no-repeat -1px -152px
        width 26px
        height 18px
        margin-top -(@height/2)
      &.step-3:after
        @media screen and (max-width: 860px)
          right 10px
      &.step-4:after
        display none

