.m_services
  position relative
  overflow hidden
  padding-top 10px
  padding-bottom 25px
  box-shadow inset 0 -5px 5px -5px rgba(0,0,0,0.15)
  @media screen and (max-width: 768px)
    padding-bottom 20px
  &:before
    earth()
  .top-item
    height 100%
    width 100%
    text-align center
    padding-bottom 35px
    @media screen and (max-width: 768px)
      padding-bottom 15px
    @media screen and (max-width: 430px)
      display none
    .nest
      height auto
      margin 0 auto
      .item
        position relative
        text-align center
        width 110px
        height 110px
        margin 0 auto
        &:after
          content ''
          position absolute
          right -65px
          top 50%
        &.item-1:after
          background: url('../images/sprite.png') no-repeat -42px -156px;
          width: 19px;
          height: 14px;
          margin-top -(@height/2)
          @media screen and (max-width: 820px)
            right -40px
          @media screen and (max-width: 568px)
            right -30px
          @media screen and (max-width: 420px)
            right -20px
        &.item-2:after
          background: url('../images/sprite.png') no-repeat -73px -156px;
          width: 21px;
          height: 14px;
          margin-top -(@height/2)
          @media screen and (max-width: 820px)
            right -50px
          @media screen and (max-width: 568px)
            right -30px
          @media screen and (max-width: 420px)
            right -20px
        .item-text
          display table
          width 110px
          height 110px
          border 1px solid $green
          border-radius 50%
          span
            display table-cell
            vertical-align middle
        .add1
          position absolute
          width 110px
          height 110px
          top -50%
          left 50%
          margin 0 auto
          border 1px solid transparent
          overflow hidden
          &:after
            content ''
            position absolute
            width 110px
            height 110px
            bottom -50px
            left -50px
            border 12px solid $black
            border-radius 50%
      .item-1
        margin-left 205px
        margin-right 50px
        @media screen and (max-width: 950px)
          margin-left 200px
        @media screen and (max-width: 920px)
          margin-left 150px
        @media screen and (max-width: 860px)
          margin-right 25px
        @media screen and (max-width: 820px)
          margin-right 10px
        @media screen and (max-width: 768px)
          margin-left 100px
        @media screen and (max-width: 670px)
          margin-left 50px
        @media screen and (max-width: 568px)
          margin-left 25px
        @media screen and (max-width: 455px)
          margin-left 0px
        .second-1
          position absolute
          color $gray
          font-size 12px
          width 140px
          height 80px
          left -140px
          top 50%
          margin-top -(@height/2)
          padding 0 5px
          @media screen and (max-width: 768px)
            display none
      .item-2
        margin-right 67.5px
        margin-left 67.5px
        @media screen and (max-width: 820px)
          margin-right 50px
          margin-left 50px
        @media screen and (max-width: 568px)
          margin-right 25px
          margin-left 25px
        .second-2
          margin-top 10px
          font-size 12px
          color $gray
          @media screen and (max-width: 768px)
            display none
      .item-3
        margin-right 205px
        margin-left 50px
        @media screen and (max-width: 860px)
          margin-left 25px
        @media screen and (max-width: 820px)
          margin-left 10px
        .second-3
          position absolute
          color $gray
          font-size 12px
          width 140px
          height 80px
          right -140px
          top 50%
          margin-top -(@height/2)
          padding 0 5px
          @media screen and (max-width: 768px)
            display none
  .col-xs-12
    @media screen and (max-width: 420px)
      margin-right 5px
      padding 0
  .secondary-item
    color $black
    text-align center
    font-size 17px
    line-height 21px
    padding 15px 10px
    @media screen and (max-width: 768px)
      padding 10px 0px
    @media screen and (max-width: 420px)
      font-size 14px
      line-height 1.2
  .links
    text-align center
    margin 10px 0
    a
      display inline-block
      anim()
      color $black
      font-weight bold
      min-width 200px
      height 30px
      padding 0 20px
      margin 0 5px
      font-size 14px
      line-height 26px
      background $light-gray
      border 2px solid $green
      text-decoration none
      &:hover
        color $white
        background $green

