.m_using
  position relative
  width 100%
  height auto
  padding-top 15px
  padding-bottom 40px
  background $white
  overflow hidden
  @media screen and (max-width: 767px)
    padding-bottom 0
  .row
    margin 0
    .col-xs-6
      padding 0
      @media screen and (max-width: 568px)
        width 100%
      &:first-child
        .item
          border-right 1px solid #f1f0f1
      & + .col-xs-6
        .item
          border-right 1px solid #f1f0f1
          border-left 1px solid #f1f0f1
      &:last-child
        .item
          border-right 2px solid #f1f0f1
  .container-fluid
    @media screen and (max-width: 768px)
      padding-left 0
      padding-right 0
      .col-xs-6
        .item
          border none !important

  .item
    border-bottom 2px solid #f1f0f1
    border-top 2px solid #f1f0f1
    border-right 2px solid #f1f0f1
    border-left 2px solid #f1f0f1
    .title
      position relative
      width 100%
      height 160px
      a
        anim()
        display block
        text-align center
        height 100%
        position absolute
        left 0
        top 0
        width 100%
        padding 0
        width 100%
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        color $green
        font-size 14px
        text-transform uppercase
        box-shadow inset 0px -55px 60px -50px rgba(49,42,32,0.75)
        @media screen and (max-width: 568px)
          box-shadow inset 0px -90px 90px -50px rgba(49,42,32,0.75)
        span
          position absolute
          left 0
          bottom 0
          width 100%
          padding 15px 10px
          font-weight bold
        &:hover
          box-shadow inset 0px -90px 90px -50px rgba(49,42,32,0.75)
          @media screen and (max-width: 568px)
            box-shadow inset 0px -90px 90px -30px rgba(49,42,32,0.9)
          span
            text-decoration underline
        @media screen and (max-width: 767px) and (min-width: 486px)
          font-size 17px
        span
          color $white
    .description
      background $light-gray
      color $gray
      min-height 270px
      width 100%
      font-size 12px
      padding 20px 10px 20px 25px
      @media screen and (max-width: 767px)
        font-size 16px
      @media screen and (max-width: 620px)
        min-height 285px
      @media screen and (max-width: 568px)
        min-height 0
        height auto
        box-shadow inset 0 5px 5px -5px rgba(0,0,0,0.15), inset 0 -5px 5px -5px rgba(0,0,0,0.15)
      ul
        list-style-type disc
        li
          padding-bottom 25px
          @media screen and (max-width: 485px)
            padding-bottom 10px
          &:last-child
            padding-bottom 0
    .bg-white
      background $white
