<div class="m_footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                <div class="logo">
                    <a href="#"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="contacts">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="locate">
                                <div class="vertical-outer">
                                    <div class="vertical-inner">Санкт-Петербург<br>Лиговский пр., д.73</div>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">                            
                            <div class="tel">
                                <div class="vertical-outer">
                                    <div class="vertical-inner">
                                        <p>8(800) 200 6 575</p>
                                        <p>8(812) 575 8 575</p>
                                    </div>
                                </div>
                            </div>                                                           
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>