<div class="m_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="mobile-menu-trigger"><span></span></div>
                <div class="logo">
                    <a href="#"></a>
                </div>
                <div class="menu hidden-xs">
                    <div class="vertical-outer">
                        <div class="vertical-inner">
                            <ul class="nav-justified">
                                <li>
                                    <a class="current" href="#">Оценка</a>
                                </li>
                                <li role="presentation">
                                    <a href="#">Новые <br>финансовые услуги</a>
                                </li>
                                <li role="presentation">
                                    <a href="#">Юридические и <br>представительские услуги</a>
                                </li>
                                <li role="presentation">
                                    <a href="#">Полезные статьи</a>
                                </li>
                            </ul>
                        </div>
                    </div>                        
                </div>
                <div class="contacts hidden-xs">
                    <div class="vertical-outer">
                        <div class="vertical-inner">
                            <div class="locate">Лиговский пр., д.73</div>
                            <div class="tels">
                                <span>8(800) 200 6 575</span>
                                <span>8(812) 575 8 575</span>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>