<div class="m_mobile-menu">
    <div class="menu">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Оценка</a></li>
            <li><a href="#">Финансовые услуги</a></li>
            <li><a href="#">Юридические услуги</a></li>
            <li><a href="#">Полезные статьи</a></li>
        </ul>
    </div>
    <div class="contacts">
        <div class="locate">Санкт-Петербург<br>Лиговский пр., д.73</div>
        <div class="tels">
            <p>8(800) 200 6 575</p>
            <p>8(812) 575 8 575</p>
        </div>
    </div>
</div>